/* font-family: "Roboto Slab", serif; (TITLES) */
/* font-family: "Roboto", sans-serif; (BODY) */

* {
  box-sizing: border-box;
}

#form {
  margin: 3%;
}

#input {
  line-height: 1.8;
  font-size: 2vmin;
  text-indent: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border: thick dashed white;
  background-color: black;
  color: white;
}

#submit {
  background-color: black;
  width: 5vmin;
  height: 5vmin;
  border-radius: 50%;
  border: green thick dashed;
  margin-left: 1.4vmin;
  cursor: pointer;
}

/* #submit:hover {
    background-color: green;
} */

#input:focus {
  outline: none;
}

#clean {
  color: red;
  font-weight: 900;
  font-size: 1.8vmin;
  background-color: black;
  border: medium dashed red;
  cursor: pointer;
  position: absolute;
  left: 3.5%;
  top: 13%;
}

#display {
  /* border: thick dashed white; */
  width: 60%;
  height: 90%;
  position: absolute;
  right: 13%;
  top: 4%;
}

div[id*="section-"] {
  width: 45%;
  height: 45%;
  border: white solid 1px;
  position: absolute;
  border: thick dashed white;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  overflow-y: auto;
}

#section-1 {
  top: 0;
  left: 0;
}
#section-2 {
  top: 0;
  right: 0;
}
#section-3 {
  bottom: 0;
  left: 0;
}
#section-4 {
  bottom: 0;
  right: 0;
}

#counter {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 44%;
  left: 7.5%;
}

div[id*="counter-"] {
  width: 50%;
  height: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

#counter-1 {
  top: 0;
  left: 0;
  border-right: dotted thin white;
  border-bottom: dotted thin white;
}
#counter-2 {
  top: 0;
  right: 0;
  border-bottom: dotted thin white;
}
#counter-3 {
  bottom: 0;
  left: 0;
  border-right: dotted thin white;
}
#counter-4 {
  bottom: 0;
  right: 0;
}

/* Dark mode enabled */
html {
  background-color: #000;
  filter: invert(1), hue-rotate(180deg);
  font-family: "Roboto", sans-serif;
  color: white;
}

span {
  padding: 10px;
  border: medium solid;
  margin: 50px 12%;
  visibility: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 144px;
  text-align: center;
  overflow-wrap: break-word;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 900;
}

.padding {
  padding: 30px 5px;
}

img,
video,
iframe,
canvas,
svg {
  filter: invert(1), hue-rotate(180deg);
}

.fade-in-left {
  animation: fade-in-left 1s ease;
}

@keyframes fade-in-left {
  0% {
    transform: translateX(-8000px);
  }
  60% {
    transform: translateX(30px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

#svg-logo {
  position: absolute;
  bottom: 3%;
  left: 2%;
  width: 100px;
  height: 50px;
}
