/* font-family: "Roboto Slab", serif; (TITLES) */
/* font-family: "Roboto", sans-serif; (BODY) */

* {
  box-sizing: border-box;
}

#form {
  margin: 3%;
}

#input {
  line-height: 1.8;
  font-size: 2vmin;
  text-indent: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border: thick dashed white;
  background-color: black;
  color: white;
}

#submit {
  background-color: black;
  width: 5vmin;
  height: 5vmin;
  border-radius: 50%;
  border: green thick dashed;
  margin-left: 1.4vmin;
  cursor: pointer;
}

#input:focus {
  outline: none;
}

#clean {
  color: red;
  font-weight: 900;
  font-size: 1.8vmin;
  background-color: black;
  border: medium dashed red;
  cursor: pointer;
}

#display {
  border: thick dashed white;
  width: 50%;
  height: 80%;
  position: absolute;
  right: 15%;
  top: 7%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  overflow-y: auto;
}

/* Dark mode enabled */
html {
  background-color: #000;
  filter: invert(1), hue-rotate(180deg);
  font-family: "Roboto", sans-serif;
  color: white;
}

span {
  padding: 10px;
  border: medium solid;
  margin: 30px 12%;
  visibility: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 144px;
  text-align: center;
  overflow-wrap: break-word;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 900;
}

.padding {
  padding: 30px 5px;
}

img,
video,
iframe,
canvas,
svg {
  filter: invert(1), hue-rotate(180deg);
}

.fade-in-left {
  animation: fade-in-left 1s ease;
}

@keyframes fade-in-left {
  0% {
    transform: translateX(-8000px);
  }
  60% {
    transform: translateX(30px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

#svg-logo {
  position: absolute;
  bottom: 3%;
  left: 2%;
  width: 100px;
  height: 50px;
}

[class*="options-menu"] {
  position: absolute;
  cursor: text;
  z-index: -1;
}

.options-menu-large .remove-option,
.options-menu-large .edit-option,
.options-menu-large .close-option,
.options-menu-large .add-option {
  height: 50px;
  width: 50px;
}

.add-option,
.remove-option,
.edit-option,
.close-option {
  border: 1px solid white;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  z-index: 3;
  /* background-color: white; */
}

.add-option {
  left: 50%;
  transform: translate(-50%);
}
.remove-option {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.edit-option {
  top: 50%;
  transform: translateY(-50%);
}
.close-option {
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
}
