[class*="options-menu"] {
  position: absolute;
  cursor: text;
  z-index: -1;
}

.options-menu-large .remove-option,
.options-menu-large .edit-option,
.options-menu-large .close-option,
.options-menu-large .add-option {
  height: 50px;
  width: 50px;
  font-size: x-large;
  padding: 8px;
}

.add-option,
.remove-option,
.edit-option,
.close-option {
  /* border: 1px solid white; */
  height: 36px;
  width: 36px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  z-index: 3;
  text-align: center;
  font-size: large;
  padding: 6px;
  font-weight: 100;
}

.add-option:hover,
.remove-option:hover,
.edit-option:hover,
.close-option:hover {
  font-weight: 700;
}

/* Below classes define the menu items positions */
.add-option {
  left: 50%;
  transform: translate(-50%);
}
.remove-option {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.edit-option {
  top: 50%;
  transform: translateY(-50%);
}
.close-option {
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
}

/* Popout class added to every menu item. Keyframes set on 0, 80% and 100% */
/* Animations displayed on sequence */
.popout-add {
  animation: popout-add 0.5s ease;
  visibility: hidden;
  animation-fill-mode: forwards;
}

@keyframes popout-add {
  from {
    visibility: visible;
    transform: scale(0) translate(-50%);
  }
  80% {
    visibility: visible;
    transform: scale(1.2) translate(-50%);
  }
  to {
    visibility: visible;
    transform: scale(1) translate(-50%);
  }
}
.popout-remove {
  animation: popout-remove 0.5s ease;
  animation-delay: 0.3s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

@keyframes popout-remove {
  from {
    visibility: visible;
    transform: scale(0) translateY(-50%);
  }
  80% {
    visibility: visible;
    transform: scale(1.2) translateY(-50%);
  }
  to {
    visibility: visible;
    transform: scale(1) translateY(-50%);
  }
}

.popout-exit {
  animation: popout-exit 0.5s ease;
  animation-delay: 0.6s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

@keyframes popout-exit {
  from {
    visibility: visible;
    transform: scale(0) translate(-50%);
  }
  80% {
    visibility: visible;
    transform: scale(1.2) translate(-50%);
  }
  to {
    visibility: visible;
    transform: scale(1) translate(-50%);
  }
}

.popout-edit {
  animation: popout-edit 0.5s ease;
  animation-delay: 0.9s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

@keyframes popout-edit {
  from {
    visibility: visible;
    transform: scale(0) translateY(-50%);
  }
  80% {
    visibility: visible;
    transform: scale(1.2) translateY(-50%);
  }
  to {
    visibility: visible;
    transform: scale(1) translateY(-50%);
  }
}
